body{
	padding: 10px;
	background-color: #b9e6ea;
	font-size: 125%;
}

h1{
    font-size: 200%;
    color: black;
    padding: 10px 0px 5px 0px;
}

h2{
    font-size: 14pt;
    color: black;
    padding: 0px, 0px, 10px, 0px
}

p{
    font-size: 12pt;
    color: rgb(8, 2, 57);
    line-height: 1.15;
    padding: 10px 10px 20px 10px;
    background-color: #daf8fb;
}

dt{
    font-weight: 600;
    padding: 0px 0px 10px 0px;
}

dd{
    font-weight: 500;
    padding: 0px;
}

.bell img, .betty img, .alice img, .chimamanda img, .rebecca img, .virginia img, .bronte img, .phillis img, .agatha img{
    width: 50%;
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
	border: solid lightpink 10px;
    border-radius: 30px;
    display: block;
}

img{
	width: 50%;
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
	border: solid rgb(248, 84, 144) 5px;
    border-radius: 30px;
    display: block;
}

.susan img, .jeannette img, .gf img, .rice img, .lauren img, .pelosi img, .davids img, .steinem img, .davis img{
    border: solid 5px white;
}

div:nth-child(1n){
    border: solid 5px white;
    padding: 40px;
    margin: 50px;
}





li{

}


.skip{
    position: absolute;
    left: -1000px;
}



header{

}

nav{
    color: rgb(221, 10, 115);

}

main{

}

footer{

}

/* Width, border, margin, padding, and
border radius are used on every image.
Pseudo classes are used to style every other
 (or every third) image */